
* {
    cardBack
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     /* border: 1px solid black;     */
}

body {
    height: 130vh;
    width: 100vw;;
    background-image: url('public/green_felt_texture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.deck {
    display: flex;
    height: 150px;
    justify-content: space-between;  
    padding: 10px;

}


.deck h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: goldenrod;
}

#b {
    color: black;
    font-size: 3.4rem;

}
#j {
    color: red;
    font-size: 3.4rem;
}
.deck h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: goldenrod;
    font-size: 1.5rem;
    overflow: auto;
    
  
}

.deck button {
    width: 90px;
    height: 120px;
    
}
.gameBoard {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   

}

.computersStuff {
    display: flex;
    flex-direction: column;
   text-align: center;
   flex: 1
 
}

.computersHand {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.computersHand div {
    width: 90px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;  

}

.computersTotal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.total {
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 30px;
    justify-content: center;
    align-content: center;

}

#whoWon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 20%;
    flex: 1 1 auto;
    font-size: larger;
    color: goldenrod;
    opacity: 0.9;
  
}

#whoWon button:hover {
    opacity: 0.7;
}



#nextHand {
    background-color:goldenrod;
    margin: 20px;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 20px;
}

#whoWon {
  border: none;
}


.usersValue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}



.usersValue div {
    display: flex;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    min-width: 60px;
    min-height: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
 

}

#deal {
    background-color: goldenrod;
    min-width: 60px;
    min-height: 30px;
    border-radius: 30px;
}


.playersStuff {
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
    overflow: auto;
}


.playersMoney {
    width: 90px;
    height: 120px; 
}
.playersMoney div  {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(211, 61, 61);
}

.userHand {
  display: flex;
    
}

.userHand div {
    flex: 1;
    background-color: rgb(255, 255, 255);
    min-width: 90px;
    min-height: 120px;
    max-width: 90px;
    max-height: 120px;
    border: black 1px solid;
}


.playersHand {
    width: 90px;
    height: 120px;
  
}


.playerOptions {
    width: 90px;
    height: 120px; ;
    
}


.playerOptions button{ 
    display: flex;
    width: 100%;
    height: 25%;
    flex: 1 1 auto; 
    background-color: rgb(35, 28, 240);
    color: white;
   justify-content: center;
   align-items: center;
}


.cardBack {
    background-image: url('public/CardBackground.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
}
.hover:hover {
    opacity: 0.7;
    cursor: pointer;
}